<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="group12.ucsc.agentmate" >
    <uses-permission android:name="android.permission.SEND_SMS" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".ui.Login_Activity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.Recover" android:label="Forget?"></activity>
        <activity android:name=".ui.Select_Menu" android:label="Select Your Task"></activity>
        <activity android:name=".ui.SetPassword" android:label="Reset Your Password.."></activity>
        <activity android:name=".ui.CreateNewVendor" android:label="New Vendor"></activity>
        <activity android:name=".ui.Edit_Customer" android:label="Edit Vendor"></activity>
        <activity android:name=".ui.PlaceOrderFirst" android:label="Place an Order"></activity>
        <activity android:name=".ui.PlaceOrderSecond" android:label="Place an Order"
            android:screenOrientation="landscape"></activity>
        <activity android:name=".ui.ComplainReport" android:label="Place an Order"></activity>
        <activity android:name=".ui.ReamainVan" android:label="Reamin Stock"></activity>

    </application>

</manifest>
